:root {
    --color-gray-700: #2f3237;
    --color-white: #fff;
    --color-black: #111213;
    --color-gray-300: #dee3ed;
    --color-gray-100: #f8f9fc;
    --color-gray-700: #2f3237;
    --color-gray-800: #1d1e20;
    --color-gray-900: #111213;
    --mid-gray: #707070;
    --hard-gray: #515152;
    --color-border-default: var(--color-gray-300);
    --color-background-light: var(--color-gray-100);
    --color-text-default: var(--color-gray-700);
    --color-background-default: var(--color-gray-200);
    --color-background-dark: var(--color-gray-900);
}
@font-face {
    font-family: 'barlow';
    font-style: normal;
    font-weight: 1500;
    src: url('chrome-extension://__MSG_@@extension_id__/fonts/Barlow-Regular.ttf'); 
}   
.ec-popup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: auto;

    background: var(--color-white);
    color: var(--color-text-default);
    position: relative;
    font-family: 'barlow', sans-serif;
}
.ec-popup__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 40px;
    padding: 0 12px;
    border-bottom: 1px solid var(--color-border-default);
    background: var(--color-background-light);
    font-family: 'barlow', sans-serif;
    width: 378px;
}
.ec-popup__headline {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    font-weight: 600;
    text-decoration: none;
    color: inherit;
    display: block;
    background-repeat: no-repeat;
    background-position: 6px center;
    background-size: 24px 24px;
    padding: 2px 8px 2px 8px;
    margin-left: -8px;
    transition: background-color 0.2s;
    border-radius: 4px;
    font-family: 'barlow', sans-serif;
}
.ec-apikey-entry {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: inherit;
    position: absolute;
    width: 100%;
    font-family: 'barlow', sans-serif;
    margin: 40px;
    padding: 20px;
    gap: 8px;
}
.ec-input {
    padding: 10px;
    margin: 8px 0;
    border: 2px solid #eee;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius:10px;
    width: 212px;
    font-family: inherit;
    font-size: inherit;
}
.ec-apikey-submit{
    appearance: none;
    -webkit-appearance: none;
    padding: 10px;
    border: 2px solid #eee;
    font-family: inherit;
    font-size: inherit;
    border-radius: 10px;
    width: 234px;
    cursor: pointer;
    transition: 0.2s ease;
}
.ec-apikey-submit:hover {
    background-color: lightgrey;
}
.invisible {
    display:none;
}
.ec-equation-entry {
    padding-left: 20px;
    padding-right: 10px;
    margin-top: 8px;
    font-size: 13px;
    border: 2px solid #eee;
    height: 120px;
}
.ec-added-input {
    width:300px;
}
.ec-equation-submit {
    padding: 10px;
    margin: 4px 2px;
    margin-left: 7px;
    cursor: pointer;
    transition: 0.2s ease;
    border: 2px solid lightgray;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    line-height: 0.8;
    
    border-radius: 50%; 
    width: 36px;       
    height: 36px;     

    font-family: inherit;
    font-size: 11px;

    justify-content: center;
    align-items: center;

    box-sizing: border-box; 
}
.ec-equation-submit:hover {
    background-color: lightgrey;
}
.ec-equation-output {
    border: 2px solid #eee;
    margin-top: 8px;
    
}
.ec-input-loader-submit {
    display: flex;
    align-items: center;
}
.loader{
    height: 30px;
    width: 30px;
    border: 3px solid #eee;
    border-radius: 50%;
    border-right-color: var(--color-background-dark);
    animation: spin 1s ease infinite;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 4px 2px;
    margin-left: 9px;
    box-sizing: border-box; 
}
@keyframes spin {
    100%{
        transform: rotate(360deg)
    }
}
.ec-return-div{
    margin-top:15px;
    border: 2px solid #eee;
    display: flex;
    flex-direction: row;
}
.ec-return-to-api-submit{
    cursor: pointer;
    transition: 0.2s ease;   
    font-size: 25px;
    justify-content: center;
    align-items: center;
    border-style: none;
    background: white;
    bottom:0;
    right: 13px;
    position: absolute;
    color: var(--mid-gray);
    padding: 0;
}
.ec-return-to-api-submit:hover {
    transform: scale(0.92);
    color: var(--hard-gray)
  }
.ec-equation-para{
    font-family: inherit;
    padding: 5px;
    line-height: 1.5;
}
.ec-equation-ul-element{
    font-family: inherit;
    padding:5px;
}
.ec-equation-list-element{
    font-family: inherit;
    line-height: 1.5;
    padding: 0.5em 0;
    line-height: 1.5;
    list-style-type: none;
}

